<!DOCTYPE html>
<html>
<head>
 <title>Movie Management Dashboard Admin View</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center success  alert alert-success">
    <h1><span th:text="${pageTitle}"></span></h1>      
</div> 
<h1> Admin View WIP</h1>

</body>
</html>